<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href= "/css/home.css">
    </head>
    <body>
         <header>
                <nav class = "cabecalho">
                    <h5>...    daniel.cassiano@live.com | ...    (83) 998354294 | ...  @atleticasuplementos </h5>
                </nav>
                <section class = "ads">
                <nav class = "links">
                        <h3><a href= login.handlebars>Login</a></h3>
                        <h3><a href= login.handlebars>Cadastro</a></h3>
                        <h3><a href= loja.handlebars>Loja Virtual</a></h3>
                    </font>
                </nav>
                <div>
                    LOGOTIPO DA LOJA
                </div>
                </section>
         </header>
         <section class = middle>
                <img src="gymbackgroundhome.jpg" alt="bg">
                <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15846.754152867547!2d-35.60730007841969!3d-6.807689621273718!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x7adc8fc97c195af%3A0xc2c0ddc29e63fa6e!2sBorborema%2C%20PB%2C%2058394-000!5e0!3m2!1spt-BR!2sbr!4v1570549012672!5m2!1spt-BR!2sbr"
                width="540"
                height="405"
                frameborder="0" 
                style="border:0;" 
                allowfullscreen="">
                </iframe>
         </section>
    </body>
    <footer>
        <font size = 4>
            <h5>© 2019 Suplementos Atlética</h5>
        </font>
    </footer>
</html>