<html>
    <head>
        <link rel="stylesheet" href= "/css/login.css">
    </head>
    <header class = "cabecalho">
        <h1>Bem-vindo!</h1>
    </header>
    <section>
        LOGOTIPO ACADEMIA
    </section>
    <body>
        <form action="/add" method="POST">
        <p>Login</p>
        <input type="text" name="login">
        <p>Senha:</p>
        <input type="text" name="senha">
        <button type="submit">Cadastrar</button>
        </form>
    </body>
    <footer>
        Esqueceu a sua senha?
    </footer>
</html>